<form action="<%#= model_path(@model) %>" method="post">
  <label for="input-file">Input File (full path)</label>
  <input type="text" id="input-file" name="model[input-file]">
  
  <label for="output-file">Output File (full path)</label>
  <input type="text" id="output-file" name="model[outpt-file]">
  
  <input type="submit" value="Submit">
</form>

